AUTH0_DOMAIN=""
AUTH0_CLIENT_ID=""
AUTH0_CLIENT_SECRET=""

# These are only need to use the cli fetch sf record command
SF_AUTH_ENDPOINT=""
SF_AUTH_CLIENT_ID=""
SF_AUTH_CLIENT_SECRET=""
SF_AUTH_USER=""
SF_AUTH_PASS=""

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=
###< lexik/jwt-authentication-bundle ###
